# Ignore the virtual enviornment
venv/
.venv

# Ignore ds_store files
.DS_Store

# Ignore python bytecode files
__pycache__/
*.pyc

# Ignore scratch notes
docs/logs.md
docs/irb_checklist.md

# Ignore EEG trial data
data